<div class="detail-box col-xs-12 col-sm-8 col-sm-offset-2">
  <div class="panel">
    <div class="panel-body">

      <h1 class="big_header">		
	      Edit Your Place
	    </h1>
	    <br />

	    <!-- Form -->
	    <div class="form-inputs">
			  <%= simple_form_for @place do |f| %>
				  <%= f.input :name %>
				  <%= f.input :address %>
				  <%= f.input :description %>  
				  <br />
				  <%= f.submit 'Update', class: 'btn btn-primary' %>
			  <% end %> 
      </div>

		</div>
	</div>	
</div>	