    <div class="detail-box col-xs-12 col-sm-10 col-sm-offset-1">
     <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
				  <!-- Indicators -->
				  <ol class="carousel-indicators">
				    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
				    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
				    
				  </ol>

				  <!-- Wrapper for slides -->
				  <div class="carousel-inner">
				    <div class="item active">
				      <%= image_tag 'wood.jpg' %>
				      <div class="carousel-caption">
				        Best beer in town . 
				      </div>
				    </div>
				      <div class="item">
					    <%= image_tag 'wood.jpg' %>
					    <div class="carousel-caption">
					      Looking for hotdogs?
					    </div>
					  </div>
				  </div>
	</div>
				  <!-- Controls -->
				  <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
				    <span class="glyphicon glyphicon-chevron-left"></span>
				  </a>
				  <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
				    <span class="glyphicon glyphicon-chevron-right"></span>
				  </a>
				</div>
<% @places.each do |place| %>

  <div class="detail-box col-xs-12 col-sm-10 col-sm-offset-1">
	<div class="panel panel-default">
	  <div class="panel-heading">	  
		    <h1><%= link_to place.name, place_path(place) %></h1>
	  </div>
	    <div class="panel-body"> 
	    	<h4> Address:</h4>	  
		    <p><%= place.address %></p><br />

		     

		    	<div class="clear"><br /></div>
						<div class="pic-box col-xs-12 col-sm-10 col-md-10 col-lg-10 col-xl-10 col-sm-offset-1 col-md-offset-1 col-lg-offset-1 col-xl-offset-1">
						<% if place.photos.last.present? && place.photos.last.picture.present? %>
						<%= image_tag place.photos.last.picture, :class => 'img-responsive', :style => "max-height:350px" %>
						<% end %>
						</div>
			
			<div class="clear"></div>


			<br />
		    <div class="description col-xs-12">			
		  	  <h4> Description: </h4>
		      <p><%= place.description %></p><br />
		    </div>

		    <% if place.user.present? %>
        	<small><%= place.user.email %></small>
    		<% end %>

    		<% if place.comments.present? %>
			  <div class="col-xs-12">
			    <blockquote>
			      <% if place.comments.last.humanized_rating.present? %>
			        <b><%= place.comments.last.humanized_rating %></b> -
			      <% end %>
			      <%= place.comments.last.message %>
			      <small><%= place.comments.last.user.email %></small>
			    </blockquote>
			  </div>
			<% end %>
	    </div>
	</div>	 	 
  </div>
		 	<% end %>

		<!--Pagination -->		
				<div class="text-center">
					<ul class="pagination">
						<%= will_paginate @places, renderer: BootstrapPagination::Rails %>
					</ul>		    
				</div>