<div class="detail-box col-xs-12 col-sm-8 col-sm-offset-2">
	<div class="panel">
		<div class="panel-body"> 

		  <h1 class="big_header">
	      Enter Your Place Details 
		  </h1>
		  <br />	

			<div class="form-inputs">
			  <%= simple_form_for @place do |f| %>
			    <%= f.input :name %> 
			    <%= f.input :address %> 
			    <%= f.input :description %>
			    <br />
			    <%= f.submit 'Create', class:'btn btn-primary' %>
	      <% end %>  
	    </div>
	    
	  </div>      
	</div>
</div>	